/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body{
    background-color: rgb(147, 61, 228);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

/*title*/
h1{
    color: white;
    text-align: center;
    margin: 2% 0;
}

/*form*/
#login-form{
    background-color: white;
    max-width: 430px;
    width: 80%; 
    padding: 30px 25px;
    margin: 2rem auto;
    border-radius: 8px;
    animation: fade 1s forwards;
    overflow: hidden;
    z-index: 999;
}

/*down effect*/
#login-form.down{
    animation: down 1s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*error effect*/
#login-form.validate-error{
    animation: nono 0.2s linear, fade paused;
    animation-iteration-count: 2;
}

/*inpus and button*/
#login-form input, #login-form button{
    display: block;
    width: 100%;
    height: 40px;
    outline: none;    
}

/*input label*/
#login-form label{
    display: block;
    margin: 3% 0;
}

/*input */
#login-form input{
    margin-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px 10px;    
}

/*animate form field groups*/
#login-form .group:nth-child(1){
    animation: move 0.5s;
}

#login-form .group:nth-child(2){
    animation: move 0.4s backwards 0.1s;
}

/*button*/
#login-form button{
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(147, 61, 228);
    transition: all 0.3s;
    color: white;
    animation: move 0.4s backwards 0.2s;
}

/*hover*/
#login-form button:hover{
    background-color: rgb(164, 66, 255);
}

.squares li{
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite;
    animation-direction: alternate;
}

/*animations using keyframes*/
@keyframes fade{
    from{
        opacity: 0;
        transform: scale(0.9);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes move{
    from{
        transform: translate(-35%, 0);
    }

    to{
        transform: translate(0, 0);
    }
}

@keyframes down{
    from{
        transform: translate(0, 0);
    }

    to{
        transform: translate(0, 100vh);
    }
}

@keyframes nono{
    0%, 100%{
        transform: translateX(0);
    }

    35%{
        transform: translateX(-5%);
    }

    70%{
        transform: translateX(5%);
    }
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(0);
    }

    50%{
        opacity: 1;
    }

    to{
        opacity: 0;
        transform: translateY(-900px) rotate(960deg);        
    }
}